@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 278 56% 95%;
    --foreground: 0 0% 3.9%;

    --card: 278 56% 95%;
    --card-foreground: 0 0% 3.9%;

    --popover: 278 56% 95%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 276 100% 41%;
    --primary-foreground: 0 0% 100%;

    --secondary: 277 30% 90%;
    --secondary-foreground: 0 0% 9%;

    --muted: 277 30% 90%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 300 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 276 30% 85%;
    --input: 276 30% 85%;
    --ring: 276 100% 41%;

    --radius: 0.5rem;

    --sidebar-background: 278 40% 92%;
    --sidebar-foreground: 276 10% 25%;
    --sidebar-primary: 276 100% 41%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 278 56% 95%;
    --sidebar-accent-foreground: 276 100% 41%;
    --sidebar-border: 276 30% 85%;
    --sidebar-ring: 276 100% 41%;
  }

  .dark {
    --background: 276 10% 10%;
    --foreground: 0 0% 98%;

    --card: 276 10% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 276 10% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 276 100% 61%;
    --primary-foreground: 0 0% 100%;

    --secondary: 276 10% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 276 10% 15%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 300 100% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 276 10% 20%;
    --input: 276 10% 20%;
    --ring: 276 100% 61%;

    --sidebar-background: 276 10% 12%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 276 100% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 276 10% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 276 10% 20%;
    --sidebar-ring: 276 100% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
